footer{
    background-color: var(--cor2);
    padding-top: 5px;
    padding-bottom: 5px;
}
footer p{
    font-size: 20px;
    text-align: center;
    color: var(--cor4);
    
}
.footer{
    color: var(--cor5);
}
    