@import url(/css/style.css);
@import url(/css/header.css);
@import url(/css/home.css);
@import url(/css/sobre.css);
@import url(/css/skills.css);
@import url(/css/portifolio.css);
@import url(/css/contato.css);
@import url(/css/footer.css);
@import url(/css/responsivo.css);
