
a{
  color: var(--cor4);
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
  margin-top: 15px;
}
a:hover{
  opacity: .7;
  color: var(--cor5)
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 73.6%;
  margin-left: 253px;
  background-color: var(--cor2);
  border-bottom: 2px solid var(--cor3);
  z-index: 2;
}
nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 0px 30px 10px 0px;
  transition: 0.3s;
}
.nav-list{
  display: flex;
  gap: 20px;
  list-style: none;
  margin-top: 10px;
}
.logo{
  margin-left: 50px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
  margin-top: 20px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--cor4);
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
  display: flex;
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


