
 

.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor2);
  padding: 20px;
}

.nav-list{
  display: flex;
  align-items: center;;
  list-style: none;
  gap:10px;

}
.nav-links{
  font-size: 20px;
  text-decoration:none ;
  color:var(--cor4);
  transition: 0.5s;
  
}
.nav-links:hover{
  color:var(--cor5);
}
.mobile-menu {
  display: none;
  cursor: pointer;
  margin-top: 20px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--cor4);
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
  display: flex;
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
@media(max-width: 768px){

  .nav-list{
    position: absolute;
    top: 37px;
    right: 0;
    width: 50%;
    height: 92vh;
    background: var(--cor2);
    flex-direction: column;
    align-items: center;
    gap: 80px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    margin-top: 50px;
    display: none;
   
  }
  .nav-list li{
    margin-top: 50px ;
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu{
    display: block;
  }
  .nav-list.active {
    transform: translateX(0);
    display: flex;
  }
}
@media(max-width: 428px){
  .logo-img img{
    width: 90px;
  }
}


