.bg-mobile{
  display: none;
}
.container{
  background-color: var(--cor2);
  padding-top: 100px;
 
}

.intro-desktop{
  display: flex;
  
}
 .intro, .lado-direito{
  width: 50%;
  
 }
 .lado-direito img{
  height: 600px;
  margin-left: 50px;
 }
 .intro{
  margin:220px 0 0 200px;
 }
 .h1-{
  font-size: 40px;
  color: var(--cor4);
 }
 .h2-{
  color: var(--cor4);
  font-size: 30px;
 }
 .nome{
  color: var(--cor5);
 }
 .rede{
  display: flex;
  gap: 20px;
  margin-left: 50px;
 }