/* Header */
@media(max-width: 425px){
  header{
    width: 100%;
    margin-left: 0;
  }
  nav{
    margin: 0;
  }

  .mobile-menu{
    display: none;
  }

  .logo{
    padding: 0 25px;
    margin-left: 0;
  }
}

/* HOME */
  @media(max-width: 425px){
    .container{
      height: 37rem;
      margin-top: 0;
      padding-top: 0;
    }
    .intro-desktop{
      display:block;
    }
  
    .intro{
      margin: 0;
      width: 100%;
      padding: 0 25px;
     }

     .lado-direito{
      display: block;
      position: absolute;
      top: 40px;
      right: 0;
     }

     .lado-direito img {
      width: 100%;
      margin-left: 0;
     }

     .h1-{
      padding-top: 5rem;
      margin-bottom: 10px;
     }

     .rede{
      margin-left: 0;
      margin-top: 149px;
     }
   }


/* SOBRE */
@media(max-width: 425px){
  .bg-sobre {
    height: 67rem;
    padding: 0 25px;
  }
  .section-sobre{
    display: block;
  }
  .imagem{
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  .imagem img{
    margin: 0;
  }

  .sobre{
    width: 100%;
    margin-top: 30px;
  }

  .sobre p{
    margin: 0;
  }

  .sobre a img{
    float: none;
    margin-left: 0;
    margin-top: 20px;
  }
}



/* SKILLS */
@media(max-width: 425px){
  .skills{
    height: 100%;
    padding: 0 25px;
  }
  .h1-skills{
    padding-top: 45px;
  }
  .divs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding-bottom: 30px;
  }

  .div1{
    max-width: 185px;
  }
  .div1 img{
    max-width: 100%;
  }
}


/* PORTIFOLIO */
@media(max-width: 425px){
  .portifolio{
    height: 48rem;
    padding: 0 25px;
  }
  .h1-portifolio{
    padding-top: 20px;
  }
  .projetos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .project{
    width: 100%;
  }
 }

/* CONTATO */
@media(max-width: 425px){
  .contato{
      height: 100%;
      padding: 0 25px;
  }
  .contato-item{
      display: block;
  }

  .imag{
      width: 100%;
  }

  .form{
      width: 100%;
  }
  .botao{
      margin: 20px 0;
  }
}