/* Header */



/* HOME */
 @media (max-width:992px){
  .intro{
    margin-left: 10px;
    padding:90px 0 0 100px ;
  }
  .h1-{
    font-size: 1.3rem;
    font-weight: 300;
  }
  .h2-{
    font-size: 1.2rem;
    font-weight: 300;
  }
  .rede{
    margin: 10px 0 0 0;

  }
  .git img, .link img{
    height: 40px;
  }
  .lado-direito img{
    margin-left: 50px;
  }
 }
  @media(max-width: 768px){
    .container{
      height: 22rem;
      margin-top: 0;
      padding-top: 0;
      display: flex;
      flex-direction: column;
    }
    .intro-desktop{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
    .intro{
      margin-left: 30px;
    }
     .lado-direito img {
      width:fit-content;
      height:350px
     }

     .h1-{
      font-size: 30px;
      font-weight: normal;
      padding-top: 5rem;
     }
     .h2-{
      font-size: 20px;
      font-weight: 200;
     }

     .rede{
      margin-left: 0;
     }
   }
   @media(max-width: 650px){
    .intro-desktop{
      height: 15rem;
      margin-top: 0;
    }
    .h1-{
      
    }
    .lado-direito{
      display: none;
    }
   }
   @media(max-width: 520px){
    .h1-{
      font-size: 25px;
    }
    .h2-{
      font-size: 15px;
    }
    .rede img{
      height: 35px;
      margin-top: 10px;
    }
   }
   @media(max-width: 430px){
    .h1-{
      font-size: 20px;
    }
   }
   @media (max-width:390px){
    nav{
      padding: 0;
      margin: 10px ;
    }
    .nav-list{
      height: 138vh;
    }
    .nav-list a{
      font-size: 20px;
    }
    .logo img{
      width: 120px;
    }
    .mobile-menu, .logo{
      margin: 0;
    }
    .mobile-menu div {
      width: 22px;
      height: 1px;
      background: var(--cor4);
      margin: 8px;
      transition: 0.3s;
  }
  .h2-{
font-size: 14px;
  }
}
 



/* SOBRE */
@media (max-width:992px){
  .section-sobre{
    padding-top: 30px;

  }
  .imagem, .sobre{
    width: auto;
   }
   .sobre{
    margin:0 0 0 10px;
   }
   .imagem img{
    height: 400px;
    margin: 0;
    padding: 0;
   }
   .curriculo img{
    width: 200px;
    height: 150px;
    
   }
   .sobre p{
    font-size: 1.25rem;
    font-weight: 100;
    color: white;
    text-align:start;
   }
}
@media(max-width: 768px){
  
 .imagem, .sobre{
  width: auto;
  gap: 10px;
  margin-left: 30px;
 }
 

}
@media (max-width: 680px){
  .bg-sobre{
    height: 67rem;
  }

  .section-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sobre{
    margin-left: 30px;
    text-align: left;
    align-items: center;
  }
}
@media(max-width: 425px){
  .bg-sobre {
    height: 67rem;
    padding: 0 25px;
  }
  .section-sobre{
    display: block;
  }
  .imagem{
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  .imagem img{
    margin: 0;
  }

  .sobre{
    width: 100%;
    margin-top: 30px;
  }

  .sobre p{
    margin: 0;
    font-size: 20px;
  }

  .sobre a img{
    float: none;
    margin-left: 0;
    margin-top: 20px;
  }
}



/* SKILLS */
@media (max-width:992px){
  .divs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 30px;
  }
  .skills{
    height: 100%;
    padding: 0 25px;
  }
  .h1-skills{
    padding-top: 45px;
  }
  
}

@media(max-width: 425px){
 
  .div1{
    max-width: 185px;
  }
  .div1 img{
    max-width: 100%;
  } 

 
}


/* PORTIFOLIO */
@media (max-width:992px){
  .projetos{
    padding-left: 25px;
    margin-left: 10rem;
  }
}

@media(max-width: 425px){
  
}
@media(max-width: 425px){
  .portifolio{
    height: 48rem;
    padding: 0 25px;
  }
  .h1-portifolio{
    padding-top: 20px;
  }
  .projetos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .project{
    width: 100%;
  }
 }

/* CONTATO */
@media (max-width:992px){
  .contato{
    height: 400px;
  }
  .imag{
    display: none;
  }
  .form{
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 30px;
  }
}
@media(max-width: 425px){
  .contato{
      height: 100%;
      padding: 0 25px;
  }
  .contato-item{
      display: block;
  }

  .imag{
      width: 100%;
  }

  .form{
      width: 100%;
  }
  .botao{
      margin: 20px 0;
  }
}