.portifolio{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 6%, rgba(25,9,36,1) 49%, rgba(33,11,77,1) 100%);
}
.projetos{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:1rem;
  grid-row-gap:1rem;
  padding: 2rem 4.4rem 4rem;
   }
   .project1{
    border: 1px solid var(--cor4);
   
   }
   
   .project1 h1{
    color: var(--cor5);
      font-size: 1.25em;
      font-weight: 200;
      text-transform: capitalize;
   }
   