.portifolio{
    height: 400px;
    background: rgb(37,25,61);
    background: linear-gradient(321deg, rgba(37,25,61,1) 4%, rgba(37,25,61,1) 9%, rgba(33,36,40,1) 9%, rgba(0,0,0,1) 92%, rgba(37,25,61,1) 92%, rgba(37,25,61,1) 98%);
}
.projetos{
    display: grid;
  grid-template-columns: .35fr .35fr;
  margin: 5rem 0 0 15rem;
  padding: 10px 30px;
   }
   .project1{
    border: 1px solid var(--cor4);
    margin-bottom: 20px;
   }
   
   .project1 h1{
    color: var(--cor5);
      font-size: 20px;
      font-weight: 200;
      text-transform: capitalize;
   }
   