
.bg-sobre{
  height: 600px;
}

.section-sobre{
  display: flex;
}
.imagem{
  width: 40%;
}
.sobre{
  width: 60%;
  margin: 100px 0 0 0;
}
.imagem img{
  height: 400px;
  margin: 100px 0 0 150px;
}
.sobre h1{
  color: var(--cor4);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 0.05em;

}
.sobre h2{
  color: var(--cor5);
  font-weight: 400;
}
.sobre p{
  color: var(--cor4);
  line-height: 1.7rem;
  text-align: justify;
  margin-right: 50px;
}
.sobre h1, h2, p{
  margin-bottom: 20px;
}
.sobre a img{
  float:right;
  height: 50px;
  margin-right: 50px;
}
