.bg-sobre{
    background-color: var(--cor7);
}
.section-sobre{
    display: flex;
    flex-wrap: wrap;
    
}
.imagem img{
    height: 25rem;
}
.sobre{
    flex: 1;
}
.sobre, .imagem{
     padding: 2rem 4rem;
}
.sobre h1{
    font-size: 3em;
    color: var(--cor4);
}
.sobre h2{
    font-size: 1.5em;
    color: var(--cor6);
}
.sobre p{
    color: var(--cor4);
    font-weight: 300;
}
.sobre a img{
    height: 3rem;
    margin-top: 1rem;
}